@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat';
}

/* #grid{
    display: grid;
    column-gap: 25px;
    position: fixed;
    top: 0;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100%, auto);
    width: 100%;
    height: 100%;
    background: transparent;
    display: none;
    
}

#grid p{
    border: 1px solid;
    background: #0000;
    margin: 0;
    opacity: 0.2;
}

input:checked+#grid{
    display: grid;
} */


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::root{
    font-size: 16px;
}

li, p{
    font-size: 1em;
    letter-spacing: 0.09em;
    line-height: 2em;   
}

p{
    margin-top: 2em;
}

a{
    font-size: 1.1em;
    letter-spacing: 0.09em;
    line-height: 1.4em;
}


 h2, h3, h4, h5{
    letter-spacing: 0.09em;
    line-height: 2em;
}

.p-main{
    margin-top: 0 !important;
    line-height: .9em !important;
}

h1{
    color: white;
    font-size: 3.5em;
    letter-spacing: 0.09em;
    line-height: 1.6em;
}

h3{
    color: #34BAAA;
    font-size: 1.25em;
    font-weight: lighter;
}

h2{
    font-size: 1.875em;
    padding-bottom: 18px;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 25px 50px 25px 50px;
}

.logo{
    margin-right: auto;
}

.nav_links{
    list-style:none;
}

.nav_links li{
    display: inline-block;
    padding: 25px;
}

.nav_links li a{
    text-decoration: none;
    color: #000;
}

.mainpage{
    height: 100vh;
    width: 100%;
}

.main-img{
    position: absolute;
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

hr{
    color: grey;
    opacity: 25%;
    
}

.main_container{
    margin-top: 100px;
    padding-bottom: 100px;
    background: rgba(60, 60, 60, 0.3);
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: space-between;
    
}

.left_side_mainpage{
    position: relative;
    margin-left: 13vw;
    top: 25%;
}

.left_side_mainpage p{
    color: #ffff;
    opacity: 0.75;
}

.btn-BookNow{
    height: 45px;
    width: 140px;
    background-color: #DCAE1D;
    color: #ffff;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 0.1em;
    font-size: 1.1em; 
    font-weight: lighter;
    margin-top: 1.1em;
}

/* SOCIAL MAINPAGE */
.social-container{
    position: relative;
    height: 100%;
    width: 100px;
    top: 45%;
    text-align: center;
    margin-left: auto;
   

}
.social{
    list-style-type: none;  
}

.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    animation: move 1s infinite alternate; 
}   

@keyframes move{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}
/* ABOUT SECTION */

.about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#about-img{
    
    object-fit: cover;
    object-position: 0 0;
    width: 29.7vw;
    height: 100%;
    z-index: -1;
}

.about-right-container{
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.btn-services{
    height: 50px;
    width: 140px;
    background-color: #DCAE1D;
    color: #ffff;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 0.1em;
    font-size: 1.1em; 
    font-weight: lighter;
    margin-top: 2em;
}

.underline{
    /* padding: 0; */
    margin-top: 2em 0 0 0;
    width: 75px;
    border: 5px solid #34BAAA;
}

/* SERVICES SECTION */

.ourServices{
    background-color: #F0F5F5;
    padding-top: 5%;
}

.ourServices section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

/* cards grid */

.cards{
    padding: 5% 50px 5% 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 23vw));
    justify-content: space-evenly;
} 

.card{
    display: grid;
    grid-template-columns: minmax(auto, 23vw);
    border-radius: 25px;
    background-color: #ffff;
    box-shadow: 5px 5px rgba(133, 123, 123, 0.1); 
}

.card-image1 img{
    display: block;
    width: 100%;
    border-bottom-left-radius: 120px;
    border-bottom: 10px solid #34BAAA;
}

.card-image2 img{
    display: block;
    width: 100%;
    border-bottom: 10px solid #34BAAA;
}

.card-image3 img{
    display: block;
    width: 100%;
    border-bottom: 10px solid #34BAAA;
    border-bottom-right-radius: 120px;
}

.card-text{
    text-align: center;
    margin-top: 2em;
    padding: 0 5% 0 5%;
}

.card-fig-links{
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.card-fig-links a{
    text-decoration: none;
    color: #34BAAA;
}

.ourMission{
    padding: 5% 25px 5% 25px;
    display: flex;
    flex-direction: row;
    column-gap: 25vw;
    justify-content: space-evenly;    
}

.ourMission-left-container{
   position: relative;
   margin: 0;
   top: -23vh;
   
}  
.picture-container{
    position: relative;
    width: 20vw; 
    height: 300px;  
    width: 0, auto;
}

#map{
    display: block;
    width: 100%;
}

.circle{
    display: block;
    position: relative;
    top: 45vh;
    right: 4vw;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: #34BAAA;
    color: #FFFF;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.circle p{
    text-align: center;
    padding-top: 40%;
    padding-bottom: 25%;
}

.ourMission-right-container{
   display: flex;
   flex-direction: column;
   align-items: left;
   width: 33vw;
}

.ourMission-right-container button{
    margin-top: 2em;
    height: 45px;
    width: 200px;
    background-color: #DCAE1D;
    color: #ffff;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 0.1em;
    font-size: 1.1em; 
    font-weight: lighter;
}

.OurTeam{
    background-color: #F0F5F5;
    padding: 5% 50px 5% 50px;
}

.OurTeam section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.people-grid{
    padding: 5% 50px 5% 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 23vw));
    justify-content: space-evenly;
}

.person{
    display: grid;
    grid-template-columns: minmax(auto, 23vw);
    border-radius: 5px;
    background-color: #ffff;
    box-shadow: 5px 4px rgba(133, 123, 123, 0.2); 
}

.person img{
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.name{
    text-align: center;
    padding: 1em 0 2em 0;
    font-weight: 500;
}

.bookings{
    padding: 5% 50px 5% 50px;
}

.bookings section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.bookings{ 
    padding: 5% 0 5% 0;
}

.offer{
    background: url(pictures/city-backgrnd.png) no-repeat;
    background-size : 100%;
    background-position-y: -60px;
    margin-top: 2em;
    padding: 4em 0 4em 0;
}

.service-select{
    position: relative;
    display: block;
    left: 33%;
    background-color: #ffff !important;
    height: 7vh; 
    min-width: 35vw;
    border-radius: 20px;
    padding-left: 1%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
   
    display: block;
    margin: 0;
    background: url(icons/select-btn.png) no-repeat 95% center;
    background-size: 3%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

    font-family: 'Montserrat';
}

#customerAddress{
    position: relative;
    margin-top: 2em;
    left: 33%;
    height: 7vh; 
    min-width: 35vw;
    padding-left: 1%;
    border-radius: 20px;
    font-family: 'Montserrat';
    border-style: none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

#btn-offer{
    position: relative;
    left: 43vw;
    top: -43px;
}


.happy-clients{
    padding: 0 50px 5% 50px;
    background: url(pictures/woman-phone.png) no-repeat;
}

.happy-clients-header{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.clients-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    padding-top: 2em;
    
}

.client{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 2em 0 2em 0;
    background-color: #F0F5F5;
    z-index: 5;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}


.quote-icon{
    position: relative;
    height: 20px;
    width: auto;
}

.client-img{
    position: relative;
    height: 70px;
    width: auto;
    border: 2px solid rgba(52, 186, 170, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.underline-testimonials{
   width: 50px;
   border: 2px solid rgba(0,0,0, 0.15);
   margin: 0 0 2em 0;
}

.quote-text{
    height: 110px;
    font-size: .6em;
    padding-left: 50px;
    padding-right: 50px;
} 

.client-name{
    color: rgba(0, 0, 0, 0.7);
    font-size: .7em;
    margin-top: 1em !important;
}
/* 
.skew{
 
    position: relative;
    background: #34BAAA;
    bottom: -250px;
    transform: skewY(2deg);
    z-index: 0;
    overflow: hidden;
} */

.contactSection{
    position: relative;
    /* bottom: 120px; */
    background-color: #34BAAA;
    text-align: center;
    /* transform: skewY(2deg); */
}

.contact-text{
    color: #fff;
}

.contactSection-header{
    padding: 5% 0 5% 0;
    
}

.contactSection::before{
    content: "";
    position: absolute;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 150px;
    top: -125px;
    left: 0;
    background-color: #34BAAA;
    transform: skewY(2deg);
}


.contactSection::after{
    content: "";
    position: absolute;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100px;
    bottom: -4em;
    left: 0;
    background-color: #34BAAA;
    transform: skewY(-2deg);
    z-index: -2;
}

.contact-form-wrapper{
    display: flex;
    justify-content: center;
   
}

.contact-form{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    border-radius: 5px;
    border-top: 1px solid rgba(0,0,0,.35);
    min-width: 700px;
    position: relative;
    margin: 0 50px 0 50px;
    background: #ffff;
    height: 500px;
    padding: 2em;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.contact-form input, textarea{
    background-color: #F0F5F5;
    border-style: none;
    
}

.contact-form input{
    height: 30px;
    padding-left: 1em;
    font-size: .8em;
    
}

.your-name, .your-surname, .email, .phone-number{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contact-form label{
    padding-bottom: 1em;
    
}

.full-width{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-column: 1/3;
    height: auto;
    padding-bottom: 2em;
    
}

textarea{
    height: 150px;
    padding: 1em;

}

.btn-send{
    position: relative;
    top: -23px;
    height: 45px;
    width: 140px;
    background-color: #DCAE1D;
    color: #ffff;
    border-radius: 50px;
    border-style: none;
    letter-spacing: 0.1em;
    font-size: 1.1em; 
    font-weight: lighter;
}

.contact-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4em 170px 0 170px;
    padding-bottom: 4em;
    
}

.contact-box{
    text-align: center;
    margin: 0;
}

.icon{
    position: relative;
    display: flex;
    height: auto;
    width: 80px;
    margin: 0;
}

.contact-icons img{
   display: relative;
   height: auto;
   width: 80px;
   margin: 0;
}
footer{
    background-color: #266C5B;
}
.footer-info-container{
    padding: 2em 100px 1em 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer h3{
    font-size: 0.7em;
    padding: 0 1% 0 1%;
    
}

footer p{
    font-size: 0.7em;
    line-height: 1.4em;
    padding: 0 1% 0 1%;
    margin-top: 1em;
}

.social-footer ul{
display: flex;
justify-content: center;

}

.social-footer li{
    list-style-type: none;
    padding: 0 1% 0 1%;
}

.social-footer img{
    height: 20px;
    width: auto;
}

.footer-box{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.my-own-box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.me-pic{
    margin-top: 1em;
}

.my-own-box img{
    position: relative;
    height: 35px;
    width: auto;
}










